.Footer {
  width: 100vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-container {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  font-size: 1.1vw;
}

@media screen and (max-width: 1024px) {
  .Footer {
    display: none;
  }

  .Footer-container {
    font-size: 3vmin;
  }
}
