.Success {
  margin: 0 0 4vw 0;
}
.Success-map {
  margin: 1vw 0 0 0;
}

.Success-text {
  font-size: 2vw;
}

@media screen and (max-width: 1024px) {
  .Success-content {
    margin-top: 10vw;
  }
  .Success-text {
    font-size: 5vmin;
  }
}
